[2016-08-05 18:50] bdero opened #2 "Add a readme and license"
There is no readme! We should link a screenshot when it starts to look good.

There is also no license file, which should be GNU LGPLv3, as this repository is based off of LGPLv3 code (pulled out of edX).

[2016-08-05 18:53] bdero opened #3 "Make changes necessary for Eucalyptus"
I pushed the following commit for Dogwood compatibility:
https://github.com/mitodl/mitx-theme/commit/bed8425939c3f9182764ceac3244f058a610171e

This change should be reverted to make the theme compatible with Eucalyptus when the time comes for it.

[2016-10-19 19:30] pdpinch opened #9 "restore terms of service"
Tom Smith has asked us to include a basic terms of service. AFAIK, there is one in the default theme, but we're overriding it?

[2016-10-31 15:17] pdpinch commented on #9
So, it turns out the default open edX theme doesn't include a terms of service at all.

[2017-08-10 13:50] pdpinch opened #21 "Ginkgo: Hide sign-up button in Studio"
![studio sign up](https://user-images.githubusercontent.com/430126/33431412-418086b0-d5a2-11e7-996d-67ba2b927f8d.png)

[2017-08-20 19:06] pdpinch opened #23 "Add CSS for printing"
suggestions from @jolyonb: https://gist.github.com/pdpinch/278d78db31d45388f5c28b37374e6269

[2017-08-20 19:08] pdpinch commented on #3
@amir-qayyum-khan do you know if this is still an issue, in particular this [commit comment](https://github.com/mitodl/mitx-theme/commit/bed8425939c3f9182764ceac3244f058a610171e##commitcomment-18543321)?

[2017-08-20 19:09] pdpinch commented on #9
closed by PR #22

[2017-08-20 19:09] #9 closed

[2017-08-22 10:39] amir-qayyum-khan commented on #3
No need of this in ficus
[code]

[2017-08-24 21:36] pdpinch commented on #23
See https://github.com/mitodl/mitx-theme/pull/24#issuecomment-324764254

[2017-08-25 15:02] pdpinch commented on #23
Leaving this open until Jolyon has had a chance to review

[2017-09-19 16:39] pdpinch opened #28 "Typo in Terms of Service"
from https://odl.zendesk.com/agent/tickets/11060

[2017-09-19 16:41] pdpinch commented on #28
Amir, this repo is a little more complex now, because we have a separate branches for our staging server and for our production server. After you've done this, you should open a PR against the `ficus` branch *and* the `ficus-draft` branch.

unless @blarghmatey tells us to do something different.

[2017-09-19 19:12] amir-qayyum-khan commented on #28
ok

[2017-09-19 20:26] blarghmatey commented on #28
At the moment there isn't actually a difference in the theme between the two branches, so you can issue the PR against the ficus branch and I can cherry-pick it into the other branch.

[2017-10-05 18:49] pdpinch commented on #23
I believe this is done.

[2017-10-05 18:49] #23 closed

[2017-10-09 13:05] #28 closed

[2017-10-27 19:16] shaidar opened #33 "Course error page missing theme"
Course error pages appear to be missing the theme. Please check the [example](https://lms.mitx.mit.edu/courses/course-v1:MITx+16.83r_1+2017_Fall/about)

[2017-11-05 21:40] #3 closed

[2017-11-30 00:18] pdpinch opened #39 "Ginkgo: Course and Discussion tabs should use same template as Course Home tab"
In particular:

- [ ] Remove "Explore Courses" and "Sysadmin" links
- [ ] course tab text on these pages should have same text styling as on the Course Home tab

See https://github.mit.edu/mitx/Spring-2018/issues/20

The Course and Discussion tabs show the links to "Explore Courses" and "Sysadmin"
![screenshot 2017-11-22 14 10 45](https://github.mit.edu/storage/user/9183/files/7b7fec2a-cf8f-11e7-8

[2017-12-13 13:00] pdpinch opened #40 "Ginkgo: don't allow help button to wrap when username is long"
See https://github.mit.edu/mitx/Spring-2018/issues/26

<image src="https://github.mit.edu/storage/user/9183/files/92661240-de7e-11e7-9829-99ba04891e45">

[2017-12-18 12:02] amir-qayyum-khan commented on #21
@mitodl/devops and @blarghmatey are you guys done with https://github.com/mitodl/edx-platform/pull/56#issuecomment-351751254? if yes then please close it

[2017-12-18 13:47] pdpinch opened #41 "Ginkgo: use default courseware background color: white"
As a course author, I've designed my courseware, javascript and XBlocks to match the white background color of edx.org. My designs don't look right when the MITx theme has a grey background color, even a subtle one.

[2017-12-18 13:53] pdpinch opened #42 "Ginkgo: top header should be on white background"
Something in the Ginkgo theme is making the top header the same gray as the staff section below it. The top header background should be white.

Ficus:

![screenshot 2017-12-18 08 49 42](https://user-images.githubusercontent.com/430126/34109187-ca576da0-e3d0-11e7-8494-1a7c40d0bf8c.png)

Ginkgo:

![screenshot 2017-12-18 08 52 51](https://user-images.githubusercontent.com/430126/34109205-db18ccc4-e3d

[2017-12-19 13:06] #21 closed

[2017-12-19 14:11] pdpinch commented on #40
If appropriate, this could be an upstream fix to edX, instead of a theme fix.

[2017-12-19 16:33] pdpinch commented on #41
@annagav if you're working on this, please assign it to yourself

[2017-12-19 16:34] pdpinch commented on #42
@annagav if you're working on this, please assign it to yourself

[2017-12-21 15:03] #41 closed

[2017-12-21 18:56] #40 closed

[2017-12-21 21:15] pdpinch commented on #42
fixed by #43

[2017-12-21 21:15] #42 closed

[2017-12-21 21:15] pdpinch commented on #39
fixed by #43

[2018-01-03 13:38] pdpinch commented on #39
PR #43 was reverted because it removed the links from *all* pages, not just the ones in requested.

Is there a way to make this work the way we want it to? An upstream change might be preferable in this case, instead of a theme change.

[2018-01-05 13:48] pdpinch commented on #33
@gsidebo do you think this will be addressed by https://github.com/mitodl/edx-platform/pull/67 ?

[2018-01-05 13:51] pdpinch opened #49 "Revert "Remove invite students from studio""
Now that Studio and LMS are co-located, I don't think we need to hide this option any more.

Leaving it available on studio-staging leaves us open to some user errors, but since very few course authors are accessing studio-staging, I think reducing our maintenance burden outweighs the risk.

[2018-01-05 13:53] pdpinch commented on #49
We should check with @NotoriousMKD before making this change.

[2018-01-05 13:56] pdpinch opened #50 "Revert "Added error pages to theme""
Once mitodl/edx-platform#67 is merged upstream at edX, I don't think we will need custom error pages any more.

[2018-01-05 14:02] pdpinch opened #51 "Remove customized activation email"
I believe that we originally customized the [activation email](https://github.com/mitodl/mitx-theme/blob/master/lms/templates/emails/activation_email.txt) to make our theme work better with sandbox deployments. In the years since that change, we have cut back on our sandboxes so that they are only used for development purposes and don't require a custom activation email.

The activation email isn'

[2018-01-05 18:29] gsidebo commented on #33
From the issue description I would think yes, but that example link is not resulting in an error for me.

<img width="1051" alt="ss 2018-01-05 at 13 28 38" src="https://user-images.githubusercontent.com/14932219/34622768-73c00b32-f21c-11e7-9dbd-b6e01173069d.png">

[2018-01-11 12:46] pdpinch commented on #33
Here's another example: https://mitx-qa-next.mitx.mit.edu/courses/course-v1:MITx+16.83r_1+2016_Fall/about

Looks like it isn't working.

[2018-01-11 22:17] gsidebo commented on #33
Ah, I see. Studio vs. LMS. Looks like the fix from https://github.com/mitodl/edx-platform/pull/67 only applied to Studio

[2018-01-16 15:34] annagav commented on #40
It was fixed upstream by using a new template header/user_dropdown.html) see comment https://github.com/edx/edx-platform/blob/160dba9505eb98949a93c035ffbf676f3ac6bbd4/lms/templates/navigation/navigation.html#L5

[2018-01-16 15:44] pdpinch opened #54 "Hawthorn: remove changes to user dropdown"
According to @annagav edX fixed these issues upstream in hawthorn. These PRs should be reverted when we move to a hawthorn theme:

- #44 Keep the help button in the header when username too long Needs Review
- #52 Username too long for Course and Discussions tab Needs Review

[2018-01-16 15:54] pdpinch opened #55 "Hawthorn: Revert "Fixed Aberrant Button on LMS Course About Page""
@amir-qayyum-khan commented on [Tue Jan 16 2018](https://github.com/mitodl/edx-platform/issues/68#issuecomment-357984192)

this button is no more in Gingko, I think we need to remove this css. Mitx/ginkgo is still using older css, that's why it has button,

- see [ficus code](https://github.com/edx/edx-platform/blob/open-release/ficus.master/lms/templates/courseware/course_about.html#L118)
- see [

[2018-01-17 16:14] #55 closed

[2018-01-17 16:17] pdpinch commented on #55
How does #53 fix this issue?

This issue is to remove the old CSS in the next release, hawthorn.

[2018-01-18 13:01] #2 closed

[2018-01-26 13:07] pdpinch commented on #39
We'll take another look at this in Hawthorn, but I think we should leave Ginkgo as is.

[2018-01-26 13:07] #39 closed

[2018-01-26 13:09] pdpinch commented on #33
We can live with this for now. I'm moving this back into the backlog.

[2018-02-07 17:49] NotoriousMKD opened #57 "Change the enroll_email_allowedmessage"
The current enrollment email for users who have been enrolled in a course but haven't registered yet for MITx needs to include instructions that will get the user enrolled in the course. Currently, auto-enrollment for unregistered users isn't working properly, so we need to add some more details to [this email template](https://github.com/mitodl/mitx-theme/blob/master/lms/templates/emails/enroll_e

[2018-02-07 19:55] pdpinch commented on #57
Can you paste in here a sample of the current email?

[2018-02-07 20:19] NotoriousMKD commented on #57
Dear student,

You have been invited to join ENGINEERING DEMOCRATIC DEVELOPMENT IN CONTEMPORARY AFRICA at lms.mitx.mit.edu by a member of the course staff.

To finish your registration, please visit lms.mitx.mit.edu/dashboard
You will need to login with Touchstone to access this page. If you do not have a Touchstone account, please contact your instructor for detailed directions.
Once you have log

[2018-03-01 19:56] #57 closed

[2018-03-09 16:09] pdpinch commented on #33
This should just work in Hawthorn, since https://github.com/edx/edx-platform/pull/17446 merged upstream.

[2018-03-09 16:16] pdpinch opened #60 "Hawthorn: custom /courses page"
As a member of the MIT community, I would like a more condensed list of courses that emphasize numbers and titles and not course images.

We should apply a theme override to the /courses page and display the course listing like this:

![image](https://user-images.githubusercontent.com/430126/37217340-3dcac4fe-238b-11e8-82b6-773570a27374.png)

The tricky part will be applying the expected sort of c

[2018-03-12 12:49] pdpinch commented on #60
We can test this on the QA stack, but we shouldn't release it to the production stack until the update to Hawthorn in the summer.

[2018-03-27 20:51] pdpinch commented on #60
@annagav let's discussion implementation before you start on this

[2018-04-05 18:56] #60 closed

[2018-04-27 14:46] pdpinch opened #62 "Hawthorn: /courses sorting tweaks"
In the current version, courses are grouped properly by department, but the departments seem to be sorting alphabetically instead of numerically, i.e. "course 10" is sorting before "course 2"

![screenshot-mitx-qa-next mitx mit edu-2018 04 27-10-44-17](https://user-images.githubusercontent.com/430126/39368694-4555f72c-4a08-11e8-877d-a9c48e9cf62b.png)

[2018-04-27 14:47] pdpinch commented on #62
@annagav if you need something to work on, perhaps you could pick this up?

[2018-05-08 18:29] annagav commented on #50
@pdpinch is this related only to cms error pages? or lms as well?

[2018-05-08 19:36] pdpinch commented on #49
I confirmed with  @NotoriousMKD that we should do this.

[2018-05-08 20:45] pdpinch commented on #50
Both, I think.

[2018-05-09 07:04] amir-qayyum-khan commented on #50
removed from lms as well @annagav

[2018-05-09 14:58] #50 closed

[2018-05-09 17:20] pdpinch opened #69 "Hawthorn: user drop down menu doesn't work on dashboard"
I think this is a Theme issue, but I'm not sure.

See https://github.mit.edu/mitx/Summer-2018/issues/2

[2018-05-10 05:07] #54 closed

[2018-05-10 05:07] #49 closed

[2018-05-10 15:25] #51 closed

[2018-05-15 19:09] pdpinch commented on #69
@amir-qayyum-khan is there a PR for this?

[2018-05-15 19:09] shaidar opened #70 "LMS course pages throws a 500 error"
Visiting https://mitx-qa-next.mitx.mit.edu/courses gives me a 500 error. Looking at the logs, this appears to be caused by the following [line](https://github.com/mitodl/mitx-theme/blob/master/lms/templates/courseware/courses.html#L33) throwing this error:
[code]

[2018-05-15 19:17] pdpinch opened #71 "Hawthorn: TemplateDoesNotExist: head-extra.html"
The following error is causing a 500 error when viewing /dashboard

[code]

[2018-05-16 16:01] amir-qayyum-khan commented on #69
course page is rendered by a fragment. you can find view here openedx/features/course_experience/views/course_home.py. This fragment is unable to load css like rest of pages. I am trying to look into case

[2018-05-17 11:50] amir-qayyum-khan commented on #69
@pdpinch i am able to fix issue here https://github.com/mitodl/mitx-theme/pull/73

[2018-05-17 12:14] pdpinch commented on #71
@annagav have you started on this? If not @amir-qayyum-khan can you take a look?

[2018-05-17 12:48] amir-qayyum-khan commented on #71
@pdpinch are we talking about LMS. Are there steps to reproduce it?

[2018-05-17 13:37] amir-qayyum-khan commented on #71
unable to reproduce. @mitodl/devops please provide me trace from logs.

[2018-05-18 11:32] amir-qayyum-khan commented on #71
@pdpinch i was not able to reproduce it but i removed that line which looks for template and things are working fine

https://github.com/mitodl/mitx-theme/pull/74

[2018-05-18 11:48] amir-qayyum-khan opened #76 "Remove Account and Profile from edX dropdown like it use to be"
@pdpinch

[2018-05-18 12:05] pdpinch commented on #71
It look likes this template was removed but it's include was not.

https://github.com/edx/edx-platform/blame/master/lms/templates/main.html#L120

The include depends on a `is_theming_enabled="True"`. We're not sure why that flag might be getting set on mitx-qa-draft-next but not on mitx-qa-next.

Amir's theme PR should fix the issue, but it's still a curiosity. I think we should merge the fix for

[2018-05-18 15:07] #76 closed

[2018-05-18 15:58] #71 closed

[2018-05-21 02:04] pdpinch opened #77 "restore grey bar and red line in theme"
Our theme in production is red and grey, but the QA theme has some blue in it.

- In a course (https://mitx-qa-next.mitx.mit.edu/courses/course-v1:MITx+15.482r_1+2018_Spring/course/), the dropdown menu to choose to view as is blue:
![screenshot 2018-05-15 12 59 56](https://github.mit.edu/storage/user/9183/files/7b4d55c6-5842-11e8-9663-2da1a22f169b)
Production:
![screenshot 2018-05-15 13 00 27](htt

[2018-05-22 12:41] pdpinch commented on #69
@amir-qayyum-khan can you tell if you code was deployed to https://mitx-qa-next.mitx.mit.edu/dashboard -- it doesn't seem to be working for me.

[2018-05-22 12:43] amir-qayyum-khan commented on #69
@pdpinch it is working
https://mitx-qa-next.mitx.mit.edu/courses/course-v1:MITx+2.001r_7+2018_Spring/course/

<img width="666" alt="screen shot 2018-05-22 at 5 43 06 pm" src="https://user-images.githubusercontent.com/10431250/40363000-9f332c7c-5de7-11e8-89b9-861328dc7018.png">

[2018-05-22 12:44] amir-qayyum-khan commented on #69
Drop down on dashboard is not working

[2018-05-22 14:27] amir-qayyum-khan commented on #69
it is working on devstack. My be theme compilation issue @mitodl/devops ?

<img width="1259" alt="screen shot 2018-05-22 at 7 26 44 pm" src="https://user-images.githubusercontent.com/10431250/40368850-169c92cc-5df6-11e8-8b56-019c6ca215c5.png">

[2018-05-23 16:44] pdpinch commented on #69
This is working now at https://mitx-qa-next.mitx.mit.edu/dashboard -- I think the earlier problem was due to a failed deployment.

[2018-05-23 16:44] #69 closed

[2018-05-30 15:14] #77 closed

[2018-06-04 13:35] pdpinch opened #82 "Hide Profile link from learner dashboard"
![screenshot-mitx-qa-next mitx mit edu-2018 06 04-09-34-20](https://user-images.githubusercontent.com/430126/40920441-88e253ce-67da-11e8-9639-eeefedc71475.png)

[2018-06-08 17:00] #82 closed

[2018-06-11 05:26] jpmateo022 opened #86 "font-size mixing error"
Hi,

Im currently using your edx theme as my based theme but when I execute

sudo ./edxapp-update-assets-lms

I got this error:

![image](https://user-images.githubusercontent.com/26633918/41213906-d646b286-6d7a-11e8-9749-1dfc25749773.png)

Currently Using ginkgo.master release (OpenEdx Native)

Hope you can help me.

[2018-06-11 11:40] pdpinch commented on #86
For what it's worth, the master branch of this repo is being used with the master branch of edx-platform (in preparation of the the Hawthorn release).

If you want a known-good theme for ginkgo, you should try the ginkgo branch: https://github.com/mitodl/mitx-theme/tree/ginko

[2018-06-11 11:46] jpmateo022 commented on #86
Actually, I'm using the ginkgo branch

https://github.com/mitodl/mitx-theme/tree/ginkgo

Correct me if I'm wrong, maybe the theme is not compatible to OpenEdx Native.

This OpenEdx theming is driving me nuts haha.

[2018-06-19 15:30] pdpinch commented on #86
@amir-qayyum-khan any idea what might be happening here? As far as I can recall, we didn't see this error using the ginkgo theme branch with ginko deployments.

[2018-06-19 15:32] pdpinch opened #88 "on /courses page, add contextual message to new design"
Maybe @roberthouse54 can provide some guidance, but I'm thinking an H2 should be fine.

[2018-06-19 19:59] #88 closed

[2018-06-20 10:03] amir-qayyum-khan commented on #86
it tested this on vagrant
*edx:* `open-release/ginkgo.master`
*mitx-theme:* `ginkgo`
*command:*  `paver update_assets`

It worked fine as expect. @jpmateo022  you may have cache issue? can you clean cache. This can happen after switching to different git branches, you can do `git clean -xfd` on both theme and edx repo. Also make you you have right branches set.

[2018-07-06 19:49] pdpinch opened #90 "Ironwood: revert Removed PARTNER_SUPPORT_EMAIL from cms template"
I don't think we need this theme override anymore, as long as we set `PARTNER_SUPPORT_EMAIL` to the Residential MITx support email address.

We should probably remove sock.html altogether. If that's too drastic we can just revert https://github.com/mitodl/mitx-theme/commit/98109e59bab98e104820e4bef8f1faa519940a22

[2018-11-13 16:21] pdpinch commented on #86
I'm going to close this since we haven't had any follow-up. Feel free to re-open if you can share steps to reproduce.

[2018-11-13 16:21] #86 closed

[2018-11-21 21:36] annagav commented on #90
Here is a screenshot without overriding sock.html:
<img width="1378" alt="screen shot 2018-11-21 at 4 33 53 pm" src="https://user-images.githubusercontent.com/7574259/48869535-95031d80-edab-11e8-928c-1f9c1f6a5dd5.png">

[2018-11-29 13:34] pdpinch opened #92 "revert "New look message on /courses page" #89"
We don't need the message that was added in #89 any more.

[2018-11-29 13:35] pdpinch commented on #92
@annagav I assume this is a quick change

[2018-11-30 20:59] pdpinch commented on #90
We already have all those links, except for "Open edX Portal"

Let's remove the override for sock.html and call it a day.

[2018-12-11 18:51] pdpinch commented on #92
This change can be merged into master of this repo (for the Spring 2019 release)

[2018-12-17 11:22] Ayub-Khan commented on #92
@pdpinch I have created the following pr with the changes [Pull Request](https://github.com/mitodl/mitx-theme/pull/93)

[2018-12-19 16:03] #92 closed

[2019-01-20 03:13] pdpinch commented on #90
There's not much point in merging this into Hawthorn. We can let it wait until we get to Ironwood.

[2019-01-20 13:39] pdpinch commented on #90
I opened a PR that removed sock.html #94 for when we are ready.

[2019-03-06 14:08] pdpinch opened #95 "Hawthorn hot fix: update help link"
Somehow the help link got broken in the hawthorn theme. Since we have to change it anyway, it would be best to point it to https://odl.zendesk.com/hc/en-us/requests/new -- which only works for non-agents in ZenDesk.

[2019-03-06 14:08] pdpinch commented on #95
@tasawernawaz a quick one for you -- we don't need it until the end of next week.

[2019-03-06 14:42] tasawernawaz commented on #95
@pdpinch I didn't get which help link is referred here, could you please add a link to code or screenshot of the page ?

[2019-03-06 14:59] pdpinch commented on #95
Does this help? https://github.mit.edu/mitx/Spring-2019/issues/16#issuecomment-37637

[2019-03-07 11:00] tasawernawaz commented on #95
@pdpinch Help link is coming from configuration repo.

https://github.com/mitodl/mitx-theme/blob/master/lms/templates/header/navbar-authenticated.html#L55-L61

For learners, we can set `SUPPORT_SITE_LINK` to point `https://odl.zendesk.com/hc/en-us/requests/new` from configuration.

Is this broken for both learners and instructors ?

[2019-03-07 11:01] tasawernawaz commented on #95
@pdpinch is this ticket part of current sprint. ? If yes, then I will add in sprint doc.

[2019-03-07 12:51] pdpinch commented on #95
@mitodl/devops are we setting `SUPPORT_SITE_LINK`? I don't see it anywhere in https://github.com/mitodl/salt-ops/

The issue was reported by an instructor. It's not clear to me how the link for instructors is constructed.

Thanks for the research on this. I've added this to the current sprint, at the appropriate priority. But if it turns out to just be a configuration issue I'll assign it to devop

[2019-03-07 12:58] shaidar commented on #95
@pdpinch This is not set anywhere and am assuming for the same reason as the help page.

[2019-03-07 13:01] tasawernawaz commented on #95
@pdpinch Its a configuration variable.
https://github.com/edx/configuration/blob/b162a796ae9c2d3ad89b9b6cf2e379aa691c164f/playbooks/roles/edxapp/defaults/main.yml#L1242

For instructors it should ideally leads to docs.

[2019-03-13 06:41] tasawernawaz commented on #95
@pdpinch Any update on this ?

[2019-04-30 12:26] pdpinch opened #96 "Update favicon in studio to match lms"
According to [Lawrence](https://blog.lawrencemcdaniel.com/) we can do this with an override of cms/main/template:

![image](https://user-images.githubusercontent.com/430126/56961357-989c8c80-6b21-11e9-84ec-8220d22a960d.png)

[2019-05-22 20:20] pdpinch opened #97 "Revert enrollment email template"
When an instructor manually enrolls or unenrolls a student from the[ instructor dash,](https://mitx-qa-next.mitx.mit.edu/courses/course-v1:MITx+mkd.201915+2019_Summer/instructor#view-membership) they can choose to send an automated email.

The current production style of the email looks like this:
![screenshot 2019-05-20 13 36 34](https://github.mit.edu/storage/user/9183/files/4c7182aa-7b04-11e9-8

[2019-06-07 19:36] annagav commented on #97
@pdpinch Just to avoid confusion, could you specify with one is the "old template"?

[2019-06-07 20:15] pdpinch commented on #97
The [first one](https://camo.githubusercontent.com/f04f25d56777b8b82a618aa1d966344cedbd9916/68747470733a2f2f6769746875622e6d69742e6564752f73746f726167652f757365722f393138332f66696c65732f34633731383261612d376230342d313165392d383331382d616335663539356166323264) in the description.

[2019-07-03 20:00] annagav commented on #96
This was fixed in this PR https://github.com/edx/edx-platform/pull/20358

I tested it out:
![Screen Shot 2019-07-03 at 3 58 04 PM](https://user-images.githubusercontent.com/7574259/60621452-b4cfda80-9dab-11e9-8ac6-0ff09565f77a.png)

[2019-07-03 20:14] pdpinch commented on #96
Finally we can cross this off the list!

Well, maybe next semester. =)

[2019-08-29 16:22] #97 closed

[2019-11-17 21:14] #90 closed

[2019-11-17 21:53] #96 closed

[2019-11-17 22:04] pdpinch opened #101 "Replace custom enrollment email template with django admin bulk email template"
In PR #84 we added an override for the default enrollment email template, but we later learned that the current preferred method to do this is to add a template to the django admin at /admin/bulk_email/courseemailtemplate/

### acceptance criteria
- [ ] develop an email template that can be deployed to the QA instance
- [ ] ensure that emails generated by the template include a course-specific "fr

[2019-11-17 22:13] pdpinch commented on #101
For reference, here are the templates that we use for xPRO:

HTML:
[code]

Plain text:
[code]

[2019-11-20 13:28] umarmughal824 commented on #101
@pdpinch Can I know what is the QA instance?

[2019-11-21 11:22] umarmughal824 commented on #101
@pdpinch I am a bit confused here, just need the clarification. Here the revert PR refers to the Invitation email, the attached HTML Reference refers to enrolled users' email which instructor broadcasts. So what is our target email here? Is it COURSE INVITATION OR BROADCAST email to all enrolled users?

Another confusion is like about the AC attached link (https://github.mit.edu/mitx/Spring-2020/i

[2019-11-22 10:38] umarmughal824 commented on #101
@pdpinch I have updated the bulk email template locally on my machine. Will you please review and let me know is that what we want?

![actual_email](https://user-images.githubusercontent.com/4043989/69419270-f30b6d80-0d3d-11ea-86c2-2716486ab77b.png)

I have no access to QA instance yet so for now just set it locally on my machine. Once I get access on QA, I will put it there.

[2019-11-22 10:48] pdpinch commented on #101
The screenshot looks good to me, but you've backed our the from address, which is part of what we want to change.

This issue is for modifying the BROADCAST email template, sent to all learners in a course. I didn't realize there was an INVITATION template. We may need to update that as well, but that would be another issue.

I'm not sure if we can control the from address in the template. If you

[2019-11-22 10:57] umarmughal824 commented on #101
@pdpinch I have set up my own local email backend so that's why I have hidden it. **It's can be customized, Let me know what you want to use here, I can change it for you.**

[2019-11-22 11:11] pdpinch commented on #101
Ideally, the from address would be `"[course name] course team" <[support email address]> `

so in this case it would be `"Digital Learning 100 course team" <mitx-support@example.com>`

There is a system setting in edX for the support email address, which we added in this PR: https://github.com/mitodl/edx-platform/pull/113/files

[2019-11-22 11:17] umarmughal824 commented on #101
ok, Let me check it out.

[2019-11-22 13:32] pdpinch commented on #101
Sorry @umarmughal824 I think I'm confused and now I've confused you.

1. This issue is about the INVITATION template, not the BROADCAST template, although both will need to be set.

2. The PR to revert is #98 not #84. I've updated the description.

[2019-11-22 13:35] pdpinch commented on #101
And the more I think about it, I'm pretty sure that the from address is not part of the email template.

[2019-11-22 14:17] umarmughal824 commented on #101
@pdpinch this is the final one.

![actual_email](https://user-images.githubusercontent.com/4043989/69433030-a5eac400-0d5c-11ea-9255-80d26448c954.png)

[2019-11-22 14:39] umarmughal824 commented on #101
it's ok. By the way, I have finalized the BROADCAST one, so you only want to carry INVITATION email to admin bulk email or all of it (including Auto enroll and unenroll email template etc)?

[2019-11-25 08:58] umarmughal824 commented on #101
@pdpinch Can you please confirm which branch mitx-theme is being used in MITx Residential?

The reason for asking that question is PR #98 content is not available in **master** branch but its there in **ironwood** branch.

But PR #98 is merging to **master** branch.

[2019-12-03 11:58] asadiqbal08 commented on #101
@ahmed-arbisoft @pdpinch @umarmughal824

Ok after spending time over it, let me explain what is actually happening in current code base and what had done for [issue:714](https://github.com/mitodl/mitxpro/issues/714).

- First, If I talk about [issue:714](https://github.com/mitodl/mitxpro/issues/714) then the research over this issue was pointing to bulk-email logic under the instructor dashboard.

[2019-12-12 18:32] blarghmatey opened #105 "Hide register button"
When you visit the LMS as an unauthenticated user it shows "Sign In" and "Register" buttons. We want the "Register" button to be removed as the registration step happens automatically as part of sign-in with SAML.

[2019-12-17 18:13] #105 closed

[2020-11-09 11:52] asadiqbal08 opened #119 "Update the login.underscore file for rendering proper message if not oauth provider configured."
### Steps to Reproduce

We need to show the correct message if no oauth provider is configured in openEdx in [login.underscore file](https://github.com/mitodl/mitx-theme/blob/master/lms/templates/student_account/login.underscore)

as we did in mitxpro-theme [here](https://github.com/mitodl/mitxpro-theme/blob/master/lms/templates/student_account/login.underscore#L30)

### Expected Behavior

<img wi

[2020-11-09 13:41] HamzaIbnFarooq opened #120 "Sass compilation error with edx master (Koa)"
### Epic
https://github.com/mitodl/mitxpro-theme/issues/25

### Description
With edx's master (koa), mitx-theme doesn't get compiled properly.
It gives errors for following packages:
* edx-pattern-library (has been removed from edx-platform's master)
* build-lms-v2 (has been removed from edx-platform's master)
* overrides

[2020-11-12 13:43] #120 closed

[2020-11-13 06:19] asadiqbal08 opened #123 "Removed shopping cart reference from header."
Shoppingcart has been almost deprecated for quite some time so it make sense to remove the shopping cart reference from this theme repo.

further reference: edx/edx-platform#23970

[2020-11-13 06:20] #123 closed

[2020-11-13 11:59] arslanashraf7 opened #124 "Update README to add steps for theme installation"
We should add instructions on how to set up this theme. We can use `README.md` as a reference from `mitxpro-theme`.

[2020-11-13 12:57] #124 closed

[2020-12-03 20:57] pdpinch commented on #119
Looks like this can be closed.

[2020-12-03 20:57] #119 closed

[2020-12-03 20:58] pdpinch commented on #101
I'm closing this until we get some updated testing results from the Koa release of Residential MITx.

[2020-12-03 20:58] #101 closed

[2020-12-03 21:01] pdpinch opened #126 "Terms of Service Link Missing in LMS"
The MITx TOS link should be at the bottom of the page on https://mitx-qa-next.mitx.mit.edu/dashboard below the Open edX link, as they are currently on LMS and the link should take the user to https://lms.mitx.mit.edu/tos. The TOS link does show up on https://studio-mitx-qa-next.mitx.mit.edu

Current LMS:
<img width="1538" alt="Screen Shot 2020-12-02 at 9 50 04 PM" src="https://github.mit.edu/stora

[2020-12-03 21:27] pdpinch opened #127 ""Contact Us" Page"
There is a page in the app that has an edX contact form:  https://mitx-qa-next.mitx.mit.edu/support/contact_us

Could we remove everything on this page and change it to say
### Contact Us
Find answers to common questions in the [Open edX documentation](https://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/latest/).

For other support questions, please reach out to mitx-supp

[2020-12-04 14:01] HamzaIbnFarooq commented on #126
@pdpinch I have tried to regenerate this issue locally, but I am unable to achieve that. I do not have access to https://mitx-qa-next.mitx.mit.edu/dashboard can you please create an account for me?

[2020-12-04 14:50] pdpinch commented on #127
FYI @briangrossman

[2020-12-07 13:49] asadiqbal08 commented on #126
I am looking over this issue and it seems me `footer.html` is not applying from edx themes repository but utliiziing the default one from `LMS`, Investigating it yet

[2020-12-07 15:34] pdpinch commented on #127
@briangrossman I think we should override this page in xPRO as well, but I don' think we want to direct people to the open edX docs -- we should just link them to Customer Support. Can you write up an issue?

[2020-12-08 07:53] #127 closed

[2020-12-08 13:15] asadiqbal08 commented on #126
@HamzaIbnFarooq  @pdpinch , I looked over it again today. I verified that my themes are working fine and I verified that `terms-of-service` link area's code is already implemented in our theme repo's  [footer](https://github.com/mitodl/mitx-theme/blob/master/lms/templates/footer.html#L30-L32) but the issue is that, edX devstack is not loading the footer contents from themes directory but applying

[2020-12-10 13:45] pdpinch commented on #126
@asadiqbal08 which page(s) are you testing on? I think different templates may load the footer from different locations.

[2020-12-10 13:46] pdpinch commented on #126
I'm also puzzled why this seems to be working OK in xPRO but not Residential MITx. Do they set the TOS link in different ways?

[2020-12-10 17:17] pdpinch opened #130 "Some Emails Have edX Styles"
Email templates are very confusing in edX platform. Some of them are overridden in the theme, and some are overidden in the database.

We've identified a number of emails that are using the wrong template. We need to figure out how they can be overridden, and then implement the override.

If the template can be overidden in the database, you can test it out on the QA server at https://mitx-qa-next

[2020-12-10 17:17] pdpinch commented on #130
@briangrossman there is a very old, but low priority issue in xPRO to do similar changes there.

[2020-12-15 06:23] HamzaIbnFarooq commented on #126
According to my observations, a variable named `MKTG_URL_LINK_MAP` present in `lms.env.json` is responsible for this issue. `MKTG_URL_LINK_MAP` is a dict having Marketing URLs in it.

If `MKTG_URL_LINK_MAP` has `TOS_AND_HONOR` URL in it then edX will not render separate `TOS` and `HONOR` URLs ([reference](https://github.com/edx/edx-platform/blob/master/lms/djangoapps/branding/api.py#L316-L323)). A

[2020-12-15 14:49] pdpinch commented on #126
How do we handle this in xPRO? Is it different?

[2020-12-15 17:31] HamzaIbnFarooq commented on #126
In xPro, TOS_AND_HONOR link seems to be already removed (maybe via direct changes in edx-platform)

[2020-12-16 21:09] blarghmatey commented on #126
I added that value to the link map for residential and it appears to have resolved the issue.

[2020-12-16 21:09] #126 closed

[2020-12-20 15:08] pdpinch commented on #130
I had a theory that theses templates were managed in the database, but there's a thread on discuss.openedx.org that suggests that these might be overridden in the theme:

https://discuss.openedx.org/t/how-to-modify-a-email-template/211

[2021-01-06 09:08] HamzaIbnFarooq commented on #130
In edX, the emails sent from the `Membership tab` on the `Instructor Dashboard` use `edx_ace` and each email has a different template that `needs to be overridden in theme` in case of any required change.

While the emails sent from `Email tab` are sent using `database bulk email templates` set via the admin panel. These emails seem to be the only ones sent using bulk email templates (at first gla

[2021-01-06 16:02] pdpinch commented on #130
Thank you for that research. It's so confusing to have these templates set in difference places!

For Residential MITx, we need to be sure that the following templates have the correct logo, URLs and address:

- Enrollment & Unenrollment by Instructor
- Course Update
- Response Notification

The following emails should never be sent by Residential MITx, so I don't think we care much what they look

[2021-01-06 16:03] pdpinch commented on #130
I should double-check this list with the MITx team, but I'm very confident it is correct.

[2021-01-07 12:13] HamzaIbnFarooq commented on #130
@pdpinch So we just want to change the logo? and kindly let me know which branch it requires to be merged in?

We need a contact mailing address here as well, just like mitxpro-theme, kidly provide that as well.

[2021-01-08 11:39] pdpinch commented on #130
I assume it’s the koa branch again, but @shaidar can confirm.

Let’s use the same mailing address as xPRO,

[2021-01-12 05:03] HamzaIbnFarooq commented on #130
Closed by https://github.com/mitodl/mitx-theme/pull/131

[2021-01-12 05:03] #130 closed

[2021-12-07 21:31] pdpinch opened #136 "Clicking enroll from the course about page fails to enroll the user"

[2021-12-12 17:43] briangrossman commented on #136
@asadiqbal08

FYI: When you try to enroll, you receive the following screen:
![image](https://user-images.githubusercontent.com/21342568/145723300-a936557e-8044-415e-bca6-bfbcf9c2e0c6.png)

[2021-12-13 14:23] asadiqbal08 commented on #136
@pdpinch I am getting error while provisioning `maple.release`, I guess @MAbdurrehman12 Or @Wassaf-Shahzad also getting some provisioning errors so should I consider to produce it on `master` ?

[2021-12-13 15:15] pdpinch commented on #136
If you can reproduce the issue on master, then that will be fine.

[2021-12-15 11:34] asadiqbal08 commented on #136
I tried to produce it on the following environment but it is not occurring on the following setup.
- `edx-platform` is provisioned on `master`
- Applied `mitx-theme` for branches `master` and `maple`.

Getting this screen after clicking on `Enroll Now` button.

<img width="1669" alt="Screenshot 2021-12-15 at 4 31 02 PM" src="https://user-images.githubusercontent.com/7334669/146179228-aba86eaf-2631

[2021-12-15 21:09] pdpinch commented on #136
Thanks for testing on devstack. Can you compare the button behavior on https://lms-ci.mitx.mit.edu/courses/course-v1:MITx+maple3+2021_Fall/about to your devstack?

Kerberos is the same as Touchstone. Just click that button and you can login with your MIT account.

[2021-12-16 10:24] asadiqbal08 commented on #136
@pdpinch @briangrossman I looked into the codebase to understand it more. It seems to me it may related to `course modes`. Can anyone of you with admin access verify these two conditions for this course ?

I can assume these [conditions](https://github.com/edx/edx-platform/blob/master/common/djangoapps/course_modes/models.py#L697-L704) are causing this behaviour.

[code]

[2021-12-17 12:07] asadiqbal08 commented on #136
So I sat with @arslanashraf7 to admin panel of [CI instance](https://lms-ci.mitx.mit.edu/courses/course-v1:MITx+maple3+2021_Fall/about), One thing that we noticed if we add an entry of `audit` slug in `CourseModes` model then the problem is resolved but for every new creating courses, we noticed the same **behaviour on MitxPro RC instance as well.

**behavior:
- User is not enrolled
- user is redi

[2021-12-17 12:46] asadiqbal08 commented on #136
It seems me `COURSE_MODE_DEFAULTS` has `honor` slug and with some suggested price is set in it. If that is the case then OpenEdx is keeping the course behind the paywall.

[2021-12-17 13:15] pdpinch commented on #136
`COURSE_MODE_DEFAULTS` should be set in this [file](https://github.com/mitodl/ol-infrastructure/blob/42382f744cbc5d5841f8cea4ced3cee2f886e2e9/src/bilder/images/edxapp/templates/edxapp/mitx/common_values.yml). I'm noticing that it's set twice, with slightly different values. If you want to try changing it, submit a PR and coordinate with @mitodl/devops

https://github.com/mitodl/ol-infrastructure/b

[2021-12-17 13:26] asadiqbal08 commented on #136
Ok so the fix seems me we need to set the `suggested_price: ''` in the file that you shared instead of `None`
The following [code](https://github.com/edx/edx-platform/blob/open-release/maple.master/common/djangoapps/course_modes/models.py#L729-L754) is marking it as while_label.

[2021-12-21 11:09] asadiqbal08 commented on #136
@blarghmatey Can you confirm is the [PR changes](https://github.com/mitodl/ol-infrastructure/pull/512) deployed or not ?